header#new{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 680px;
    margin: 30px auto 10px;
}

header#new a{
    background-color: #272727;
    padding: 8px 18px 8px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
}

header#new a:hover{
    background-color: #353535;
    color: #DDD;
}

form#new-post{
    background-color: #FFF;
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 30px;
    border: 1px solid #DDD;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

form#new-post input{
    margin-bottom: 10px;
}

form#new-post input[type=text]{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 0 20px;
}

form#new-post textarea{
    height: 80px;
    border-radius: 5px;
    padding-top: 10px;
    border: 1px solid #DDD;
    padding: 0 20px;
}

form#new-post button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: #272727;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

form#new-post button:hover{
    background-color: #353535;
    color: #DDD;
}